.control-container{
  display: flex;
}

.monosynth{
  border: 1px solid red;
  background-color: #eee;
  height: 400px;
}
.controls{
  display: flex;
  justify-content: space-around;
}

.notes, .velocities{
  display: flex;
  justify-content: center;
}
